* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $font-dark;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Main {
	width: 100vw;
	height: 100vh;
	background-image: url("../assets/img/bgsunny.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(255,255,255,.3); 
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.6); 
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.8); 
  }
}

input {
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
  color: $font-dark;
  font-size: 16px;
  margin-left: .5rem;	
}