.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	&.center {
		justify-content: center;
	}
	&.bottom {
		align-items: flex-end;
	}
	&.space-between {
		justify-content: space-between;
	}
}

.col {
	display: flex;
	flex-direction: column;
	&.center {
		align-items: center;
	}
}

.container-lg {
	width: 1200px;
	margin: 0 auto;
}