.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	&.center {
		justify-content: center;
	}
	&.bottom {
		align-items: flex-end;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.stretch {
		align-items: stretch;
	}
}

.col {
	display: flex;
	flex-direction: column;
	&.center {
		align-items: center;
	}
	&.al-center {
		align-items: center;
	}
	&.js-center {
		justify-content: center;
	}
	&.js-space {
		justify-content: space-between;
	}
}

.container-lg {
	width: 1200px;
	margin: 0 auto;
}

.p-1 { padding: 1rem }
.p-2 { padding: 2rem }