.brand {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 500;
}

// material icons
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.loading {
	margin-top: 4rem;
	span:first-child {
		margin-bottom: 1rem;
	}
	span:last-child {
		font-weight: 500;
	}
}

.error {
	margin-top: 4rem;
	span:first-child {
		margin-bottom: 1rem;
	}
	span:last-child {
		font-weight: 500;
	}
}

.tooltip {
	position: absolute;
	top: 100px;
	right: 50px;
	z-index: 1;
	background-color: lightgreen;
	padding: 1rem;
	display: inline-block;
	opacity: .9;
	box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
	span:first-child {
		display: block;
		margin-bottom: .5rem;
	}
	&.show {
		visibility: visible;
	}
	&.hide {
		visibility: hidden;
	}
}

.content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	& > .glass-card {
		width: 1200px;
		min-height: 1171px;
		padding: 4rem 2rem;
	}
}

// card
.solid-card {
	background: linear-gradient(271.59deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.72) 100%);
	box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
	display: inline-block;
}

.glass-card {
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
	background: linear-gradient(152.39deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .1) 100%);
	backdrop-filter: blur(10px);
}

// search-box
.search-box {
	padding: 1rem;
	width: 300px;
	height: 50px;
	input {
		flex: 1;
	}
}

// navbar
.navbar {
	& > .row {
		justify-content: space-between;
		padding: 1rem 2rem;
	}
}


// current weather
.current-weather {
	display: inline-block;

	&--temp {
		font-size: 64px;
		margin-right: 1rem;
	}

	&--icon {
		width: 94px;
		img {
			width: 90px;
			height: 90px;			
		}
		span {
			font-weight: 400;
			text-align: center;
		}
	}

	&--card {
		margin-top: 2rem;
		.solid-card {
			padding: 2rem 3rem;
		}
	}

	&--loc-city {
		font-size: 32px;
		font-weight: 500;
		display: block;
	}

	&--loc-region {
		font-size: 16px;
		font-weight: 300;
	}

	&--detail {
		margin-top: 1rem;
		span {
			display: block;
			line-height: 30px;
		}
		&--value {
			margin-left: 1rem;
			font-weight: 500;
		}
	}
}

// graph
.graph-container {
	margin-left: 2rem;
	width: 500px;
	height: 400px;
	& > .solid-card {
		width: 100%;
		height: 100%;
		padding: 1rem;
	}
}

// today prediction
.today-pred {
	margin-top: 2rem;
	display: inline-block;
	&--card {

		.solid-card {
			padding: 2rem;
			& > .row {
				overflow: auto;
				& > .row {
					border-right: 1px solid rgba(0,0,0,.3);
					&:last-child {
						border: none;
					}
				}
				&::-webkit-scrollbar {
			  	display: none;
				}
			}
		}

		&-item-wrapper {
			padding: 0 2rem;
			text-align: center;
			& > span {
				font-weight: 500;
			}
			.row {
				margin-top: 1rem;
			}
		}
		&-item-label {
			font-size: 16px;
			font-weight: 500;
			text-transform: uppercase;
		}
		&-item-condition {
			width: 100px;
			height: 102px;
			& > img {
				width: 64px;
				height: 64px;
			}
		}
		&-item-temp {
			margin-left: .5rem;
			font-size: 32px;
			font-weight: 500;
		}
	}
}

// divider
.divider {
	margin-right: 2rem;
	width: 1px;
	height: 91px;
	background: linear-gradient(180deg, rgba(74, 74, 74, 0.2) 0%, #4A4A4A 29.17%, #4A4A4A 73.96%, rgba(74, 74, 74, 0.2) 100%);
}

// forecast
.forecast {
	margin-top: 2rem;
	& > .solid-card {
		padding: 2rem 3rem;
	}
	&--title {
		text-transform: uppercase;
		font-weight: 500;
		display: block;
		margin-bottom: 2rem;
	}
	
}

// dropdown
.dropdown {
	width: 829px;
	margin: 1rem 0;
	&--button {
		padding: 1rem;
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
		&:hover {
			background-color: rgba(0,0,0,.1);
			cursor: pointer;
		}
		&:active {
			background-color: rgba(0,0,0,.2);
		}
	}
	&--list {
		list-style: none;
		padding: 0;
		li {
			padding: 1rem;
		}
		li:nth-child(even) {
			background-color: rgba(0,0,0,.1);
		}
		&--item{
			&-wrapper {
				padding: .5rem 0;
				& > * {
					margin-left: 2rem;
				}
				div {
					&:not(:nth-child(3)) {
						span {
							display: block;
							&:last-child {
								font-weight: 500;
							}
						}
					}	
				}
			}
			&-hour {
				font-weight: 500;
			}
			&-temp {
				font-weight: 500;
				width: 38px;
			}
			&-status {
				width: 187px;
			}
			&-wind {
				width: 59px;
			}
			&-precip {
				width: 49px;
			}
		}
	}
}