.brand {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 500;
}

// material icons
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

// card
.solid-card {
	background: linear-gradient(271.59deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.72) 100%);
	box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
	display: inline-block;
}

.glass-card {
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
	background: linear-gradient(152.39deg, rgba(255, 255, 255, .3) 0%, rgba(255, 255, 255, .1) 100%);
	backdrop-filter: blur(10px);
}

// search-box
.search-box {
	padding: 1rem;
	width: 300px;
	height: 50px;
	input {
		flex: 1;
	}
}

// navbar
.navbar {
	& > .row {
		justify-content: space-between;
		padding: 1rem 0;
	}
}


// current weather
.current-weather {
	padding: 3rem 2rem;
	display: inline-block;

	&--temp {
		font-size: 64px;
		margin-right: 1rem;
	}

	&--icon {
		img {
			width: 90px;
			height: 90px;			
		}
		span {
			font-weight: 500;
		}
	}

	&--card {
		margin-top: 2rem;
		.solid-card {
			padding: 2rem 3rem;
		}
	}

	&--loc-city {
		font-size: 32px;
		font-weight: 500;
		display: block;
	}

	&--loc-region {
		font-size: 16px;
		font-weight: 300;
	}

	&--detail {
		margin-top: 1rem;
		span {
			display: block;
			line-height: 30px;
		}
		&--value {
			margin-left: 1rem;
			font-weight: 500;
		}
	}
}

// today prediction
.today-pred {
	padding: 3rem 2rem;
	display: inline-block;

	&--card {
		margin-top: 2rem;
		
		.solid-card {
			padding: 2rem;
			width: 477px;
			& > .row {
				overflow: auto;
				&::-webkit-scrollbar {
			  	display: none;
				}
			}
		}

		&--item {
			margin-right: 2rem;
			& > span {
				font-weight: 500;
			}
			.row {
				margin-top: .5rem;
			}
			&--text {
				span {
					&:first-child {
						font-size: 32px;
						font-weight: 500;
					}
				}
			}
		}

	}
}

// divider
.divider {
	margin-right: 2rem;
	width: 1px;
	height: 91px;
	background: linear-gradient(180deg, rgba(74, 74, 74, 0.2) 0%, #4A4A4A 29.17%, #4A4A4A 73.96%, rgba(74, 74, 74, 0.2) 100%);
}

// forecast
.forecast {
	display: inline-block;
	padding: 1rem 0 3rem 0;
	.solid-card {
		padding: 2rem 3rem;
	}

	&--item {
		border-bottom: 1px solid $font-dark;
	}

	&--day {
		justify-content: space-between;
		padding: 1rem 0;
	}

	&--hour {
		& > * {
			margin-left: 2rem;
		}
		&--temp {
			font-weight: 500;
		}
		div {
			&:not(:nth-child(3)) {
				span {
					display: block;
					&:last-child {
						font-weight: 500;
					}
				}
			}	
		}
	}
}